body{
	color:#66AD22;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	width: 100%;
	margin:0px auto;
	background-color: #ddd;

}

.header{
	background-color: #2E2E2E;
	border-bottom: solid 3px #66AD23;
	height: 70px;
	margin: 0px;
	width: 100%;
}

.contenedor_a{
	width: 1280px;
  	height: 60px;
  	margin: 0px auto;
}

.contenedor_b{
	width: 1280px;
  	height: 60px;
  	margin: 0px auto;
}

.logo{
	margin: 0px;
  	float: left;
  	margin-left: 5%;
}

.menu{
	float: right;
  	height: 90%;
  	margin-top: 5px;
  	width: 60%;
}

.cont_menu{
	list-style: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
}

.cont_menu{
	list-style: none;
}

.menu_lista{
	float: left;
  	margin: 2px 81px 0px 0px;
}

.menu_links{
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: normal;
	text-decoration: none;
}

.menu_links:hover{
	color: #0D9EB9;
	text-decoration: underline;
}

.activo_menu{
	color: #66AE23;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
}

.activo_menu:hover{
	color: #fff;
	text-decoration: underline;
}

/*Imagen grande home*/
.home{
	float: left;
	background-color: #090B01;
	height: 654px;
	margin: 0px auto;
	width: 100%;
}

.imagen_a{
	height: 100%;
	margin: 0px auto;
	width: 100%;
}

/*seccion Historia*/
.historia{
	clear: both;
	width: 1280px;
  	height: 585px;
  	margin: 0px auto;
}

.contenido_historia{
	float: left;
	width: 50%;
	height: 460px;
	padding-top: 170px;
}

/*Botones estilos*/
.boton_a{
	background-image: url("../img/btn_a.png");
	background-position: top;
	border: none;
	height: 68px;
	margin: 0 160px 32px;
	width: 296px;
}

.boton_a:hover{
	background-position:bottom;
}

.boton_b{
	background-image: url("../img/btn_b.png");
	background-position: top;
	border: none;
	height: 68px;
	margin: 0 160px 32px;
	width: 296px;
}

.boton_b:hover{
	background-position:bottom;
}

.boton_c{
	background-image: url("../img/btn_c.png");
	background-position: top;
	border: none;
	height: 68px;
	margin: 0 160px 32px;
	width: 296px;
}

.boton_c:hover{
	background-position:bottom;
}

/*Fin de estilos botones hover*/

.icon{
	width: 10%;
	margin: 0 auto 32px;
}

.texto_gris{
	color: #2C2C2C;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: normal;
	margin: 0 auto;
	text-align: center;
	width: 400px
}

/*imagenes historia*/
.imgs_historia{
	float: right;
	width: 50%;
	height: 580px;
	padding-top: 77px;
}

.imgs_cont_historia{
	float: left;
	width: 85%;
	margin: 0 auto;
	list-style: none;
}

.imgs_hitoria_a{
	float: left;
	margin: 0px 24px 20px 0px;
}
/*estilo de imagenes margenes etc*/
.img_historia_b{
	margin: 0px;

}

/*Seccion cocina imagen grande*/
.cocina{
	/*clear: both;*/
	width: 1280px;
  	height: 100%;
  	margin: 0px auto;
}

/*Seccion razas*/
.razas{
  	width: 1280px;
  	height: 585px;
  	margin: 0px auto;
}

.img_razas{
	float: left;
  	width: 50%;
  	height: 100%;
  	padding-top: 77px;
}

.img_razas_a{
	margin: 0px 80px;
}

.contenido_razas{
	float: right;
  	width: 50%;
  	height: 460px;
  	padding-top: 170px;
}

/*Floracion imagen grande*/
.floracion{
	width: 1280px;
  	height: 100%;
  	margin: 0px auto;
}

.consejos{
  	width: 1280px;
  	height: 585px;
  	margin: 0px auto;
}

.imgs_cont_consejos{
	float: left;
  	width: 85%;
  	margin: 0 auto;
  	list-style: none;
}

.imgs_consejos{
	float: right;
  width: 50%;
  height: 580px;
  padding-top: 77px;
}

.imgs_consejos_a{
  float: right;
  margin: 0px 24px 20px 0px;
}

.img_consejos_b{
	float: right;
  	margin: 0px;
}

.contenido_consejos{
	float: left;
  	width: 50%;
  	height: 460px;
  	padding-top: 170px;
}

/*Inicio de Footer*/
.footer{
	float: left;
	background-color: #1E1E1E;
	border-bottom: solid 60px #66AD23;
  	height: 340px;
  	margin: 0px;
  	width: 100%;
}

.cont_direccion{
	width: 1280px;
 	height: 110px;
  	margin: 0px auto;
}

.estilo_a{
	color: #66AC21;
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	font-weight: bold;
	margin: 30px auto;
	text-align: center;
}

.estilo_p_a{
	color: #FEFEFE;
	font-family: 'Open Sans', sans-serif;
	font-size: 25px;
	font-weight: normal;
	margin: 0 auto;
	text-align: center;
}

/*Contenedor de datos de contacto redes y llamanos*/
.cont_contacto_big{
	width: 1280px;
  	height: 200px;
  	margin: 0px auto;
}

.cont_contacto_a{
	float: left;
  	width: 50%;
  	height: 200px;
}

.lista_redes{
	display: flex;
 	list-style: none;
  	width: 315px;
 	margin: 0 auto;
}

.redes1{
	float: left;
	margin: 0px 32px 0px 0px; 
}

.cont_conatcto_b{
	float: right;
  	width: 50%;
  	height: 200px;
}

/*texto footer final fondo verde*/
.footer_verde{
	width: 1280px;
  	height: 50px;
  	margin: 0px auto;
}

.copyright{
	float: left;
  	color: #FEFEFE;
  	font-family: 'Open Sans', sans-serif;
  	font-size: 14px;
  	font-weight: normal;
  	margin-left: 181px;
  	margin-top: 20px;
}

.autor{
	float: right;
	color: #FEFEFE;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: normal;
	margin-right: 181px;
  	margin-top: 20px;
}

.resaltado_negro{
	color: #1E1E1E;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: bold;
}

