body{
	color: #666;
	font-family: Arial, sans-serif;
	background-color: #F1F1F1;
}
.container{
	width: 800px;
	min-height: 1500px;
	background-color: #ffffff;
	border: solid 1px #CCC;
	margin: auto;
	padding: 20px;
}
#IrArriba span{
	position: fixed;
	bottom: 30px;
	right: 30px;
	width: 50px;
	height: 50px;
	background-image: url(../img/botonTop.png);
}